
<html>
<head>
    <title>{{ username }}'s GitHub Repositories</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Hello, {{ username }}!</h1>
    <p>Here is the list of your repositories and their latest commit information:</p>
    
    <table>
        <tr>
            <th>Repository Name</th>
            <th>Last Updated</th>
            <th>Latest Commit Hash</th>
            <th>Commit Author</th>
            <th>Commit Date</th>
            <th>Commit Message</th>
        </tr>
        {% for repo in repositories %}
            <tr>
                <td>{{ repo.name }}</td>
                <td>{{ repo.updated_at }}</td>
                <td>{{ repo.latest_commit.commit_hash }}</td>
                <td>{{ repo.latest_commit.author }}</td>
                <td>{{ repo.latest_commit.date }}</td>
                <td>{{ repo.latest_commit.message }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No repositories found.</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>


 