<html>
    <head>
            <title>Hello, this is my webpage!</title>
    </head>

    <body style="background-color: palevioletred;">
        <h1 style="font-family:verdana;">Welcome to my webpage!</h1>
        <p>This is the first paragraph of my webpage</p>
        
        <img src="processed-761DA249-2EBE-4A8F-9BB3-D47E3F08A865.jpeg">

        <form action="/submit" method="post">
            <label for="namefield">Name:</label>
            <input type="text" id="namefield" name="name">
            <label for="agefield">Age:</label>
            <input type="number" id="agefield" name="age">
            <input type="submit" value="Submit">
        </form>

        
    </body>
    
</html>

